body {
	background-color: #FDFDFD;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Arial;
}

a {
	text-decoration: none;
}

#header {
	text-align: center;
	padding: 15px;
}

#title {
	font-size: 40;
}

#path {
	float: left;
	margin-top: 10px;
	font-size: 25;
}

#login {
	float: right;
	margin-top: 10px;
	font-size: 25;
}

#language {
	text-align: right;
	margin-top: 10px;
}

#questions {
	text-align: center;
}

#content {
	padding: 50px
}

#popular {
	width: 600px;
	float: left;
}

#other {
	width: 600px;
	float: right;
}

#footer {
	padding-top: 20px;
	clear: both;
}

#new {
	float: right;
}

#info {
	float: left;
}



